@media (max-width: 600px) {

    .Add-Picture {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-radius: 1.5rem;
        border-style: solid;
        width: 21rem;
        height: 9rem;

    }

    .Camera-Icon {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../assets/camera.png');
        width: 2.5rem; /* Example width */
        height: 2.5rem; /* Example height, adjust as needed */
        order: 1; /* Ensures logo is on the right if needed */
    }
    
}