@media (max-width: 600px) {

    .Account-Button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 5rem;
        width: 12rem;
        height: 2rem;
        margin-top: 2rem;
    }

    .Account-Text {
        font-size: 15px;
        color: black;
    }

}