@media (max-width: 600px) {

    .CreateBtn {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        margin-top: 15rem;
    }

    .Create-Button-Top {
        font-weight: 200;
        font-size: 40px;
        margin: 0%;
    }

    .Create-Button-Bottom {
        font-size: 50px;
        font-weight: 1000;
        margin: 0%;
    }

}