@media (max-width: 600px) {

    .Input-Field {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        margin-top: 15rem;
    }

    .Name {
        font-weight: 500;
        font-size: 30px;
        margin: 0%;
        margin-right: 10rem;
    }

    .Description {
        font-weight: 500;
        font-size: 15px;
        margin: 0%;
        margin-right: 8.6rem;
        color: #272727;
    }

}