@media (max-width: 600px) {

    .Login-Btn {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        width: 70%;
        margin-top: 16rem;
    }

    .Login-Btn-Text {
        font-size: 16px;
        font-weight: 20px;
        background-color: #EEEEEE;
        color: #333333;
        padding: 8px 24px 8px 22px;
        border-radius: 20px;
    }

}