@media (max-width: 600px) {

    .Full-Logo {
        display: flex;
        width: 100%; /* Ensure the container fills its parent */
        align-items: center; /* Center items vertically */
        justify-content: center;
    }

    .Reach-Logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../assets/Reach-Logo.png');
        width: 20px; /* Example width */
        height: 20px; /* Example height, adjust as needed */
        order: 1; /* Ensures logo is on the right if needed */
    }

    .Reach-Text {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 25px;
        font-weight: 900;
        margin: 0;
        order: 2; /* Ensures text is on the left if needed */
        padding-left: 2px;
    }

}