@media (max-width: 600px) {

    .Sign-In-Input-Container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
      }
      
      .Styled-Sign-In-Input {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 20px;
        background: rgba(114, 114, 114, 0.2); /* semi-transparent white */
        color: white; /* text color */
        
        width: 200px; /* or 100% to fill the container */
      }
      
      .Styled-Sign-In-Input:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.3); /* slightly more opaque when focused */
      }
      
      /* Placeholder styles */
      .Styled-Sign-In-Input::placeholder {
        color: rgb(255, 255, 255); /* lighter white for placeholder */
        opacity: 1; /* Firefox fix for placeholder color */
      }
      

}