

.forgot-password-page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 85%;
}

.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-top: 20%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.username-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}