.custom-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: flex-end;

    svg {
        margin-left: 0.2rem;
    }
}

.button-icon {
    width: 2.75rem;
    height: 2.75rem;
    background-color: rgba(20, 20, 20, 0.448);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-weight: 200;
}

.button-icon svg {
    width: 70%;
    height: auto;
    /* transform: rotate(180deg); */
}