.signup-step-four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: -0.5rem;
    margin-top: 2rem;
}

.signup-logo {
    width: 12rem;
}

.user-input-verification {
    font-size: 2.75rem;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    -webkit-tap-highlight-color: transparent; /* Removes tap highlight */
    padding: 0;
}

.user-input-verification:focus {
    outline: none;
    box-shadow: none; /* Ensures no additional styling appears */
}

.user-input-verification::placeholder {
    padding: 0;
    margin: 0;
    font-size: inherit; /* Ensure it matches the input font */
    text-align: left; /* Aligns the text properly */
    color: rgba(255, 255, 255, 0.172); /* Adjust opacity if needed */
}

.verification-info {
    text-align: left;
    color: rgb(255, 255, 255);
}

.verification-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.resend-code {
    color: white;
    background-color: rgba(26, 26, 26, 0.427) ;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); 
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
