@media (max-width: 600px) {

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    height: 100dvh;
  }

}

.App {
  text-align: center;
  // background: linear-gradient(to bottom, #0d0101, #000000);
  background-color: inherit;
  height: 100dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-height) solid #c94b4b;
}

.loading-box-container {
  --size: 600px;
  --radius: 40px;
  position: fixed;
  width: 100vw;
  height: 200vh;
  padding: 0.25rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.loading-box-container::before {
  content: '';
  width: 320vw; /* The upscaling allows the box to fill its container even when rotated */
  height: 200vh;
  position: fixed;
  top: -25%; left: -110%;
  background: conic-gradient(#0000ff00, #ff0000ff);
  animation: rotate-border 10s linear infinite;
}

@keyframes rotate-border {
    to {
        transform: rotate(360deg);
    }
}










// :root {
//   --color-bg1: rgb(108, 0, 162);
//   --color-bg2: rgb(0, 17, 82);
//   --color1: 200, 50, 50;
//   --color2: 200, 50, 50;
//   --color3: 200, 50, 50;
//   --color4: 200, 50, 50;
//   --color5: 0, 0, 0;
//   --color-interactive: 140, 100, 255;
//   --circle-size: 30%;
//   --blending: hard-light;
// }

// @keyframes moveInCircle {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(180deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes moveVertical {
//   0% {
//     transform: translateY(-50%);
//   }
//   50% {
//     transform: translateY(50%);
//   }
//   100% {
//     transform: translateY(-50%);
//   }
// }

// @keyframes moveHorizontal {
//   0% {
//     transform: translateX(-50%) translateY(-10%);
//   }
//   50% {
//     transform: translateX(50%) translateY(10%);
//   }
//   100% {
//     transform: translateX(-50%) translateY(-10%);
//   }
// }


// .gradient-bg {
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   // overflow: hidden;
//   z-index: 0;
//   // background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
//   top: 0;
//   left: 0;
//   contain: layout style; // Helps Safari manage layout better
//   backface-visibility: hidden; // Prevents render glitches on animations
//   transform: translateZ(0); // Forces GPU layer

//   svg {
//     position: fixed;
//     top:0;
//     left:0;
//     width: 0;
//     height: 0;
//   }


//   .gradients-container {
//     filter: url(#goo) blur(40px) ;
//     width: 100%;
//     height: 100%;
//     will-change: filter;
//     overflow: visible; // Explicitly allow blob overflow
//     position: relative;
//     padding: 50vh;
//     margin: -50vh;
//   }

//   .g1, .g2, .g3, .g4, .g5, .interactive {
//     will-change: transform, opacity;
//   }

//   .g1 {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: var(--circle-size);
//     height: var(--circle-size);
//     top: calc(50% - var(--circle-size) / 2);
//     left: calc(50% - var(--circle-size) / 2);

//     transform-origin: center center;
//     animation: moveVertical 30s ease infinite;

//     opacity: 0.7;
//   }

//   .g2 {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: var(--circle-size);
//     height: var(--circle-size);
//     top: calc(50% - var(--circle-size) / 2);
//     left: calc(50% - var(--circle-size) / 2);

//     transform-origin: calc(50% - 400px);
//     animation: moveInCircle 20s reverse infinite;

//     opacity: 0.7;
//   }

//   .g3 {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: var(--circle-size);
//     height: var(--circle-size);
//     top: calc(50% - var(--circle-size) / 2 + 200px);
//     left: calc(50% - var(--circle-size) / 2 - 500px);

//     transform-origin: calc(50% + 400px);
//     animation: moveInCircle 40s linear infinite;

//     opacity: 0.7;
//   }

//   .g4 {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: var(--circle-size);
//     height: var(--circle-size);
//     top: calc(50% - var(--circle-size) / 2);
//     left: calc(50% - var(--circle-size) / 2);

//     transform-origin: calc(50% - 200px);
//     animation: moveHorizontal 40s ease infinite;

//     opacity: 0.7;
//   }

//   .g5 {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: calc(var(--circle-size) * 2);
//     height: calc(var(--circle-size) * 2);
//     top: calc(50% - var(--circle-size));
//     left: calc(50% - var(--circle-size));

//     transform-origin: calc(50% - 800px) calc(50% + 200px);
//     animation: moveInCircle 20s ease infinite;

//     opacity: 0.7;
//   }

//   .interactive {
//     position: absolute;
//     background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
//     mix-blend-mode: var(--blending);

//     width: 100%;
//     height: 100%;
//     top: -50%;
//     left: -50%;

//     opacity: 0.7;
//   }
// }