@media (max-width: 600px) {

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    height: 100dvh;
    
    padding-left: 3rem;
    padding-right: 3rem;
  }

}


.App {
  text-align: center;
  /* background: linear-gradient(to bottom, #0d0101, #000000); */
  background-color: inherit;
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-height) solid #c94b4b;
}
