@media (max-width: 600px) {

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    min-height: 100vh;
  }

}


.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
