.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    width: 70%;
    height: 80%;
    max-width: 1500px;

    a {
        letter-spacing: 3px;
    }
}

.top-gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: 998; /* slightly lower than .profile-header */
  pointer-events: none; /* allow interaction through it */
}

.profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: fixed;
    z-index: 999; /* ensure it's above the gradient */
}

.logo-profile {
    width: 1.75rem;
    height: 1.75rem;
    z-index: 10;
}

.profile-username {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    backdrop-filter: blur(10px);
    border-radius: 5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.events-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 0rem;
    padding-bottom: 6rem;
}

.profile-container h1 {
    text-align: left;
}

.profile-container section {
    margin-bottom: 40px;
}

.profile-container ul {
    list-style-type: none;
    padding: 0;
}

.profile-container li {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

.list-events {
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bolder;
    text-decoration: none;
}

#list-label {
    color: rgb(255, 255, 255);
    background-color: #000000;
    // text-shadow: 0px 0px 8px rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    padding: 0.30rem 0.7rem 0.30rem 0.7rem;
    margin-left: -0.6rem;
    font-size: 14px;
    width: fit-content;
}

.profile-past-events {
    margin-top: 4rem;
}

.profile-container h2 {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

h3 {
    color: wheat;
}

.event-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

#event-button {
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #ffffff09;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  border: none;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.623);
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1.5rem; /* spacing between items */
  transform: translateX(-10px);
}

.future-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1.5rem;
  scroll-snap-type: x mandatory;
  padding: 0 0rem 1rem 0;
  margin-right: -3rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
}

.future-scroll > div {
  flex: 0 0 auto;
  scroll-snap-align: start;
}