.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.profile-container h1 {
    text-align: left;
    margin-bottom: 20px;
}

.profile-container section {
    margin-bottom: 40px;
}

.profile-container ul {
    list-style-type: none;
    padding: 0;
}

.profile-container li {
    border: 0.01rem solid #dddddd3d;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.profile-container h2 {
    margin-bottom: 10px;
    color: rgb(255, 213, 0);
    text-align: left;
}

.profile-container p {
    margin: 5px 0;
}

h3 {
    color: wheat;
}

.event-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

.event-link:hover {
    color: rgba(255, 255, 255, 0.6);
}