.signup-for-event {
    height: 100%;
    width: 85%;
}

.signup-slides {
    height: 100%;
}

.signup-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    opacity: 60%;
}

.going-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem; /* Matches screenshot */
    height: 2.5rem; /* Matches screenshot */
    border-radius: 25px; /* Makes it rounded */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(145deg, #00ff00, #008800); /* Green gradient */
    box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.6); /* Green glow */
}