.auth-required-event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

#page-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#auth-subtext {
    margin-top: 0;
}

.auth-nav {
    display: flex;
    justify-content: center;
}
