.event-step-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.event-inputs-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}






.event-input-name {
    transition: font-size 0.3s ease;
}







.event-upload-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
  
.image-preview {
    width: 6rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 1rem;
}

.image-preview.clickable {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.image-preview.clickable:hover {
    transform: scale(1.20);
}




/* Hide the default file input */
.event-input-photo {
    display: none;
}

/* Style the file upload label to match the UI */
.custom-file-upload {
    font-size: 34px; /* Adjust size to match 'Photo' text */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.45);
    display: block;
    cursor: pointer;
    text-underline-offset: 0.2rem;
    text-align: left; /* Ensure it's aligned left */
}

.custom-file-upload:hover {
    color: rgba(255, 255, 255, 1); /* Slightly brighter on hover */
}

/* Style the actual textarea */
.custom-textarea {
    padding: 0;
}


.error {
    position: fixed;
    top: 6%;
    align-self: center;
    font-size: small;
    color: red;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.error.visible {
    opacity: 1;
  }

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

