.event-link-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.link-preview-container {
    position: relative; /* Ensures text stays above the background */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin-top: 6rem;
}

.auth-title {
    font-size: 1.625rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    z-index: 1;
}

.event-link {
    color: antiquewhite;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3rem;
    z-index: 1;
}

.auth-subtext {
    font-size: 1rem;
    color: #3737378f;
}

.event-image {
    position: fixed;
    top: 0; /* Pin it to the top of the screen */
    bottom: 0;
    left: 0; /* Pin it to the left of the screen */
    right: 0;
    width: 110%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    object-fit: cover; /* Ensures the image covers the whole screen */
    filter: blur(30px); /* Keeps the blur effect */
    opacity: 0.6; /* Keeps the opacity for readability */
    z-index: -1; /* Ensures the image stays in the background */
    overflow: visible; /* Makes sure the blur spreads beyond the image boundaries */
    transform: scale(110%);
}

.nav-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}